<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Durga News Portal</title>
    <link rel="stylesheet" href="{% static "css/demo.css" %}">
  </head>
  <body>
    <h1>Welcome to Durga News Portal:</h1>
    <img src="{% static "images/news.jpg"%}" alt="oops,no image Found" width="300" height="240">
    <ul>
      <li><a href="/movies">movies info</a></li>
      <li><a href="/sports">sports info</a></li>
      <li><a href="/politics">politics info</a></li>
    </ul>
  </body>
</html>
